* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e5e5e5;
}

/* =====================
   SIDEBAR
===================== */
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background: #3f3f46;
    color: #fff;

    display: flex;
    flex-direction: column;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.logo span {
    background: #d4d4d4;
    color: #000;
    padding: 8px 10px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style: none;
    flex: 1;
    overflow-y: auto;
}

.menu li {
    padding: 12px 20px;
    cursor: pointer;
}

.menu li:hover,
.menu .active {
    background: #2563eb;
}

/* Logout */
.logout {
    padding: 20px;
    border-top: 1px solid #555;
    cursor: pointer;
}

/* =====================
   MAIN CONTENT
===================== */
.main {
    margin-left: 240px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* =====================
   TOP BAR
===================== */
.topbar {
    background: #3b82f6;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search */
.topbar input {
    width: 45%;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #e5e5e5;
    border-radius: 50%;
}

/* =====================
   CONTENT
===================== */
.content {
    padding: 20px;
}

/* =====================
   INFO BOX GRID
===================== */
.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.box {
    background: #fff;
    padding: 20px;
    height: 110px;
    font-size: 14px;
}

/* Box besar */
.large {
    grid-column: span 2;
    height: 170px;
}

/* =====================
   TABLE
===================== */
.table-box {
    background: #fff;
    padding: 20px;
}

.table-box h3 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #d4d4d4;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

td {
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #999;
}


/* link */
a {
    color: #2563eb;
    text-decoration: none;
    margin-right: 10px;
}
