* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e5e5;
}

.app {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: linear-gradient(to bottom, #0b1b5c, #001aff);
    color: #fff;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 20px;
    font-weight: bold;
    background: #0b1b5c;
    text-align: center;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 15px 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu li:hover,
.menu li.active {
    background: #1f3cff;
}

.logout {
    margin-top: auto;
    padding: 15px 20px;
    background: #001aff;
    cursor: pointer;
}
/* CONTENT */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background: white;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.main-content {
    padding: 25px;
    background: #f0f0f0;
    height: 100%;
}

/* SEARCH & UPLOAD */
.top-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
}

.btn-upload {
    background: #1e40ff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.btn-upload:hover {
    background: #1429c9;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f5f5f5;
}

/* STATUS */
.status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
}

.status.approved {
    background: #28a745;
}

.status.pending {
    background: #ffc107;
    color: black;
}

/* BUTTON */
.btn {
    padding: 6px 12px;
    border: none;
    background: #ddd;
    cursor: pointer;
}
